apiVersion: v1
kind: Secret
metadata:
  name: code-test-secret
  namespace: code-test
type: Opaque
data:
  # BASE_URL is the only secret we have
  # put it between "" or you will have problems regarding encoding
  BASE_URL:
